* {
    box-sizing: border-box;
    margin: 0;
}

img {
    height: 10rem;
}

.personInformation {
    margin: 2rem 4rem;
    text-align: center;
}

.badgeContainer {
    display: flex;
    width: 70vh;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.badgeIMG {
    height: 5rem;
}


.badge-locked {
    filter: grayscale(100%);
}

.badgePoints-wrapper {
    display: inline-block;
    text-align: center;
}

.big-wrapper {
    text-align: center;
}